@import "Colors";

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;

  height: 150px;

  background: $footerGradient;
  color: $backgroundColor;
  text-shadow: none;

  .privacyLink {
    color: $mainColor;
  }
}
